html,
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 20px;
}

/* Gaya tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Gaya formulir */
form {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

.made-with {
    position: absolute;
    bottom: 40px;
    margin: 10px;
    font-size: 14px;
    color: #555; /* Warna teks sesuaikan dengan kebutuhan Anda */
}

.background-container {
  background-image: url("background.png") !important;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-unduh {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

.container {
  /* Additional styles for your content container */
  /* Adjust as needed */
  /* color: #fff; Example text color on the content */
  max-width: 800px; /* Set a maximum width for the content */
  width: 100%;
  padding: 20px;
}

.table {
  width: 100%;
  overflow-x: auto; /* Allow horizontal scrolling on small screens */
}

@media only screen and (max-width: 768px) {
  .background-container {
    background-size: 60% auto; /* 100% width, auto height for smaller screens */
  }

  .table th,
  .table td {
    white-space: nowrap; /* Prevent text wrapping in table cells */
  }
}

@media print {
    table {
        background-color: transparent !important;
    }
}